$base-path: "../";
$font-stack: "vazir", Verdana, Geneva, Tahoma, sans-serif;

$color-blue1: #0d62da;
$color-blue2: #2196f3;
$color-blue3: #457b9d;
$color-blue4: #edfcff;
$color-blue5: #264653;


$color-site1: #D8F3DC;
$color-site2: #B7E4C7;
$color-site3: #95D5B2;
$color-site4: #74C69D;
$color-site5: #52B788;
$color-site6: #40916C;
$color-site7: #2D6A4F;
$color-site8: #1B4332;
$color-site9: #081C15;

$color-white: white;

$color-jasper1: #A5A58D;

$color-green1: #d3f4f2;

$color-orange1: #e76f51;
$color-orange2: #ff6600;
$color-orange3: #d35400;

$color-gray1: #f1f1f1;
$color-gray2: #cccccc;
$color-gray3: #444444;
$color-gray4: #999999;

$color-brown1: #3c4858;

$cubic-bezier: cubic-bezier(0.39, -0.69, 0.59, 1.54);
